<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Gallery</title>
</head>
<body>
    <nav>
        <h1>Hayao Miyazaki</h1>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Works">Works</a></li>
            <li><a href="/Gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="gallery">
        <img src="/assets/Howls_Moving_Castle.jpeg" alt="Howls Moving Castle">
        <img src="/assets/My_Neighbor_Totoro.jpeg" alt="My Neighbor Totoro">
        <img src="/assets/Nausicaa.jpeg" alt="Nausicaa">
        <img src="/assets/Ponyo.png" alt="Ponyo">
        <img src="/assets/Princess_Mononoke.png" alt="Princess Mononoke">
    </div>
    
</body>
</html>