<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Works</title>
</head>
<body>
    <nav>
        <h1>Hayao Miyazaki</h1>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Works">Works</a></li>
            <li><a href="/Gallery">Gallery</a></li>
        </ul>
    </nav>
    <main>
        <h1>Works</h1>
        <p>Miyazaki co-founded Studio Ghibli in 1985. He directed numerous films with Ghibli, including Castle in the Sky(1986), My Neighbor Totoro(1988), Kiki's Delivery Service(1989), and Porco Rosso(1992).</p>
        <p>The films were met with critical and commercial success in Japan.</p>
    </main>  
</body>
</html>